<table>
  <thead>
    <tr>
      <th class="text-center col-1" id="id">ID</th>
      <th class="col-2 text-center">Имя</th>
      <th class="col-2 text-center">Email</th>
      <th class="col-3 text-center">Тема</th>
      <th class="col-2 text-center">Дата</th>
      <th class="col-2 text-center">Подробнее</th>
    </tr>
  </thead>
  <tbody id="wrapper-modal">
    <?php foreach ($users as $user): ?>
    <tr>
      <td class="text-center" id="id"><?=$user['id'];?></td>
      <td class="text-center"><?=$user['name'];?></td>
      <td class="text-center"><?=$user['email'];?></td>
      <td class="text-center"><?=$user['title'];?></td>
      <td class="text-center"><?=date('H:i:s d.m.Y', strtotime($user["date"]))?></td>
      <td class="text-center btn-modal" data-toggle="modal" data-target="#myModal" data-id=<?=$user['id'];?>>смотреть</td>
    </tr>
    <?php endforeach; ?>
  </tbody>
</table>